.navbar-container {
	color: black;
	width: auto;
	background: rgba(225, 255, 0, 0.08);
	box-shadow: 0px 8px 32px 0px #4b4d00;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 8px;
	border: 3px solid rgba(224, 247, 250, 0.18);
	height: 100px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}
