body {
	background-image: url("/src/assets/bg.jpg");
	color: black;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
}


main {
	min-height: 100vh;
	margin-bottom: 50px;
}

.nav-container {
	margin-bottom: 20px;
	display: flex;
	color: black;
	background: rgba(225, 255, 0, 0.08);
	box-shadow: 0px 1px 10px 0px #4b4d00;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 8px;
	border: 3px solid rgba(224, 247, 250, 0.18);
	height: 50px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

#navbar {
	display: flex;
	align-items: center;
	gap: 20px;
}

.search-bar {
	margin: 5px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.15);
	border-color: rgba(224, 247, 250, 0.18);
	color: white;
}

.food-thumbs {
	border-radius: 10px;
}

.item-list {
	display: grid;
	grid-template-columns: auto auto;
	width: 100vw;
	row-gap: 30px;
	align-items: center;
	justify-items: center;
}

.food-container {
	box-shadow: 0px 8px 32px 0px #414200;
	background: rgba(251, 255, 0, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(224, 247, 250, 0.18);
	width: 150px;
	height: fit-content;
	padding-bottom: 10px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	padding: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.sidebar-container {
	position: absolute;
	height: 100vh;
	width: 200px;
	left: 0px;
	top: 60px;
	z-index: 9999;
	color: black;
	background: rgba(225, 255, 0, 0.08);
	box-shadow: 0px 1px 10px 0px #4b4d00;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 8px;
	border: 3px solid rgba(224, 247, 250, 0.18);
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s;
}

.food-popup-container {
	position: absolute;
	height: 100vh;
	width: 80%;
	justify-self: center;
	z-index: 99999;
	color: black;
	background: rgba(225, 255, 0, 0.19);
	box-shadow: 0px 1px 10px 0px #4b4d00;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 8px;
	border: 3px solid rgba(224, 247, 250, 0.18);
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s;
	overflow-y: auto;

}

.food-name {
	font-weight: bold;
}

@media all and (min-width:500px) {
	.item-list {
		display: grid;
		grid-template-columns: auto auto auto auto;
		width: 98.9vw;
		row-gap: 30px;
		align-items: center;
		justify-items: center;
	}

	.nav-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.third-part {
		display: flex;
		align-items: center;
		justify-content: end;
		padding-right: 10px;
		gap: 20px;
	}

	.search-bar {
		margin: 5px;
		margin-left: 0px;
	}

	#navbar {
		width: fit-content;
	}
}
